.input {
  display: flex;
  margin-bottom: 0.5rem;
  align-items: center;
}

.input label {
  font-weight: bold;
  margin-right: 1rem;
}

.input input {
  font: inherit;
  width: 3rem;
  padding-left: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}